{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="card bg-info text-white text-center"><h1 >nouvelle Commande</h1></div></div><br><br>
        
            {{ form_start(form) }}
            <div class="d-inline-block ">
                {{ form_widget(form) }}
                <!--input type="submit" value="Create" /-->

                <button  class="btn btn-outline-success"  type="submit" value="Create">
                    <i class="fa fa-save"></i>
                     Ajouter
                </button> 
            {{ form_end(form) }}        
            <a  class="btn btn-outline-primary"  href="{{ path('commande_index') }}">
                <i class="fa fa-table"></i>
                    Liste C
                
            </a>
                    <!--a href="{{ path('commande_index') }}">Liste</a-->
        </div>
    
    </div>
{% endblock %}
