{% extends 'base.html.twig' %}

{% block body %} 
    <div class="container text-center">
    <div class="card bg-info text-white text-center"><h1 >Commande</h1></div><br><br>

    <table class="table text-center" border=3>
        <tbody >
            <tr >
                <th class="text-center">Id      :</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th class="text-center">Date de commande :</th>
                <td>{% if commande.dateCommande %}{{ commande.dateCommande|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
                        <tr>
                <th class="text-center">Ref Produit :</th>
                
            </tr>
            <tr>
                <th class="text-center" >Somme    : </th>
                <td>{{ commande.somme }}</td>
            </tr>
        </tbody>
    </table>

    <br><br>
        <div class="d-inline-block ">
            <a class="btn btn-outline-info "  href="{{ path('commande_index') }}">
            <i class="fa fa-table"></i>
            Listes
            </a>
        </div>
        <div class="d-inline-block">
            <a  class="btn btn-outline-success"  href="{{ path('commande_edit', { 'id': commande.id }) }}">
            <i class="fa fa-edit"></i>
            Edit</a>
        </div>
       <div class="d-inline-block">
            {{ form_start(delete_form) }}
                <!--input type="submit" -->
                <button class="btn btn-outline-danger" 
                onclick="return confirm('Etes vous sure pour Supprimer ?');" type="submit" value="Delete">
                <i class="fa fa-trash"></i>
                 Supprimer</button>
            {{ form_end(delete_form) }}
        </div>
   
    </div>

{% endblock %}
